@font-face {
   font-family: 'ALGERIA';
   font-display: swap;
   src: url('file:///Users/macbookvanegbert/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2024-06-24_112759/fonts/ALGERIA/font.ttf');
}
